In [22]:
# ok bd de mensagens
    # ok remover mensagens ja enviadas
# ok pegar mensagem random
# TODO enviar tgrm
# TODO agendar no serv para enviar td dia
# TODO add mais frases pelo menos 360

# TODO segundo script - rodar de hora em hora com lembretes - relacionar com planilha

# ok anotar como mensagem enviada - salva db


import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime
import sys

agora = datetime.now().isoformat(sep=' ', timespec='seconds')

In [23]:
# DB
conn = sqlite3.connect('db_msgs.db')  # Arquivo .db serÃ¡ criado no diretÃ³rio atual
cursor = conn.cursor()

# CriaÃ§Ã£o da tabela com id, numero e timestamp

# ðŸš¨ ADMIN
# limpar tabela ðŸš¨ðŸš¨ðŸš¨ðŸš¨
DROP = False

if DROP == True:

    cursor.execute("""
    DROP TABLE eventos 
    """)

cursor.execute("""
CREATE TABLE IF NOT EXISTS eventos (

    id INTEGER PRIMARY KEY AUTOINCREMENT,
    numero_frase INTEGER NOT NULL,
    timestamp TEXT NOT NULL
)
""")

conn.commit()

In [24]:
# sortear frase a ser enviada


# TODO filtrar frases ja enviadas --------

# Conectar ao banco
# conn = sqlite3.connect('db_msgs.db')

# Ler a tabela como DataFrame
df_msgs_enviadas = pd.read_sql_query("SELECT * FROM eventos", conn)

# # Exibir o DataFrame
# display(df_msgs_enviadas)
# # Fechar conexÃ£o
# conn.close()

# ----------------------------------------

# DF de mensagens a sortear
df_msgs = pd.read_csv("db_msgs2.csv", sep=";")

    # filtrar mensagens jÃ¡ enviadas
df_msgs_filtro = df_msgs[~df_msgs['ID'].isin(df_msgs_enviadas['numero_frase'])]


if len(df_msgs_filtro) == 0:
    print("ðŸš¨ðŸš¨ðŸš¨ Acabaram as frases!! ðŸš¨ðŸš¨ðŸš¨")
    #TODO mandar essa frase no telegram
    sys.exit()

else:
    numero_frase = int(df_msgs_filtro['ID'].sample(1).iloc[0])
    print(f"Frase Sorteada: {numero_frase}")

Frase Sorteada: 31

In [25]:
len(df_msgs_filtro)

44

In [26]:
# output construÃ§Ã£o da frase 


mensagem = df_msgs[df_msgs['ID'] == numero_frase]['Mensagem'].iloc[0]
autor = df_msgs[df_msgs['ID'] == numero_frase]['Autor/Fonte'].iloc[0]

mensagem_ouput = f"{mensagem} - {autor}"



print(mensagem_ouput)


# TODO envio telegrm



# TODO adicionar as frases enviadas

cursor.execute("INSERT INTO eventos (numero_frase, timestamp) VALUES (?, ?)", (numero_frase, agora))
conn.commit()
# conn.close()
print(f"Registro inserido: frase #{numero_frase} em {agora}")

A Ãºnica maneira de fazer um excelente trabalho Ã© amar o que vocÃª faz. - Steve Jobs
Registro inserido: frase #31 em 2025-09-16 13:48:01

In [27]:
# Visualizar no db


# Conectar ao banco
conn = sqlite3.connect('db_msgs.db')

# Ler a tabela como DataFrame
df_msgs_enviadas = pd.read_sql_query("SELECT * FROM eventos", conn)

# Exibir o DataFrame
display(df_msgs_enviadas)
# Fechar conexÃ£o
conn.close()

    id  numero_frase            timestamp
0    1            15  2025-09-16 10:04:40
1    2            22  2025-09-16 10:04:48
2    3            19  2025-09-16 10:04:52
3    4            30  2025-09-16 10:09:50
4    5            23  2025-09-16 10:09:51
5    6            32  2025-09-16 10:09:53
6    7            38  2025-09-16 10:09:55
7    8            52  2025-09-16 10:09:57
8    9            36  2025-09-16 10:28:21
9   10            46  2025-09-16 10:28:23
10  11            39  2025-09-16 10:40:51
11  12            25  2025-09-16 10:43:05
12  13             4  2025-09-16 10:43:53
13  14            40  2025-09-16 13:47:51
14  15             9  2025-09-16 13:47:58
15  16            43  2025-09-16 13:48:00
16  17            31  2025-09-16 13:48:01

In [28]:
numero_frase

31